.container {
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.section-heading {
    text-transform: uppercase;
    font-size: 44px;
    letter-spacing: 3px;
    position: relative;
    user-select: none;
}

.section-heading::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 7px;
    background: rgb(252, 226, 81);
    transform: skew(-18deg) translateX(-50%);
    left: 50%;
    bottom: 0px;
    z-index: -1;
}

.about-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 76px;
}

.about-info {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    color: #444e5a;
}

.about-info p {
    line-height: 1.5em;
}

strong {
    font-weight: bolder;
}

.about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.about-skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    flex-wrap: wrap;
}

.skillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #444e5a;
    font-size: 18px;
}

.skillIcon {
    height: 50px;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
}

.skillIcon:hover {
    transform: scale(1.05);
}





@media screen and (max-width: 880px){
    .about-grid {
        grid-template-columns: auto;
        gap: 24px;
    }
    .about-skills {
        margin-top: 48px;
    }
}


@media (max-width: 480px) {
    .container {
        gap: 24px;
    }
    .section-heading {
        font-size: 32px;
    }
    #contactButton {
        display: none;
    }
    .about-skills {
        gap: 16px;
        margin-top: 48px;
    }
    .skillBox {
        font-size: 16px;
        gap: 8px;
    }
    .skillIcon {
        max-height: 30px;
    }
}



