#contact .container {
    z-index: 2;
}

.contact-form {
    background: white;
    padding: 36px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-section label {
    font-size: 18px;
    font-weight: 500;
}

.form-section input,
.form-section textarea {
    font-size: 16px;
    border-radius: 12px;
    background: rgb(242, 242, 242);
    border: none;
    padding: 12px;
    color: rgb(99, 99, 99);
    resize: none;
}

@media screen and (max-width:880px){
    .contact-form {
        width: 100%;
        gap: 24px;
        padding: 24px;
    }
}

@media screen and (max-width:480px) {
    .form-section {
        gap: 6px;
    }
    .form-section label {
        font-size: 16px;
    }
    .form-section input,
    .form-section textarea {
        padding: 6px 12px;
        border-radius: 6px;
    }
}
