:root {
    --btn-color: rgb(252, 226, 81);
    --muted-btn-color: rgb(255, 240, 160);
    --muted-text: #3b4754;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: rgb(250, 250, 250);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    min-height: 100vh;
}

.section-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(#fafafa, rgba(0, 0, 0, 0) 50%), linear-gradient(rgba(0, 0, 0, 0) 50%, #fafafa), url("../img/hero-bg.jpg");
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    z-index: 2;
    gap: 24px;
}

.hero-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}

.hero-info {
    font-size: 36px;
    font-weight: 400;
    color: #444e5a;
    text-align: center;
}

.button {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    color: black;
    background: var(--btn-color);
    border: none;
    box-shadow: 3px 3px 0 0 var(--muted-text);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-resume {
    display: none;
}

.hero-resume a{
    text-decoration: none;
    color: black;
}

.mouseScroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30px;
    height: 50px;
    border: 2px solid #879099;
    border-radius: 25px;
}


.mouseScroll::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--muted-text);
    animation: scroll 1.2s infinite;
    border-radius: 4px;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-50%, 26px);
    }
}

.socialSide {
    position: absolute;
    left: 40px;
    background: white;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 26px;
    z-index: 5;
    color: #505b66;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.socialItem {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.socialItem a {
    text-decoration: none;
    color: var(--muted-text);
}

.socialItem:hover, .button:hover{
    background: var(--muted-btn-color);
}




@media screen and (max-width: 880px){
    .hero-title {
        font-size: 54px;
    }

    .hero-info {
        font-size: 30px;
    }

    .hero-resume {
        display: block;
    }

    .socialSide {
        left: 20px;
        bottom: 100px;
    }
}


@media (max-width: 480px) {
    .hero-title {
        font-size: 48px;
    }

    .hero-info {
        font-size: 24px;
    }

    .socialSide {
        bottom: 50px;
        font-size: 18px;
    }
}
    