.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 10vw;
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.3);
    z-index: 6;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    padding: 16px 12px;
    border-radius: 6px;
    text-decoration: none;
    color: #111;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2vw;
    font-weight: 600;
    align-items: center;
}

.nav-listItem {
    display: list-item;
    text-align: match-parent;
    padding: 6px 12px;
    border-radius: 6px;
    list-style: none;
}

.nav-listItem a {
    text-decoration: none;
    color: #3b4754;
}

.nav-listItem:hover, .logo:hover{
    background: var(--muted-btn-color);
}

.resume {
    padding: 6px 12px;
    background: var(--btn-color);
    border-radius: 6px;
}


#hamburger-button {
    display: none;
    font-size: 24px;
    position: absolute;
    top: 30%;
    right: 5%;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

@media screen and (max-width:960px) {
    .nav {
        padding: 3vh 5vw;
    }
}

@media screen and (max-width: 880px) {
    #hamburger-button {
        display: block;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        height: 60px;
        padding: 0 0rem;
    }
    
    .nav-list {
        display: none;
        width: 100%;
        user-select: none;
        flex-direction: column;
    }
    
    .nav-list.active {
        background-color: white;
        display: flex;
        height: 100vh;
    }

    .nav-list li {
        text-align: center;
        user-select: none;
        margin: 0.8rem 0;
    }

    .nav-list li a {
        padding: 0.7rem 0rem;
    }
}