.skills {
    background: rgb(165, 161, 158);
    background: linear-gradient(90deg, rgba(165, 161, 158, 1) 0%, rgba(177, 144, 133, 1) 33%, rgba(185, 73, 37, 1) 86%);
    padding: 2rem 20rem;
}

.skills h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.icons {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icons h5 {
    font-size: 0.2em;
}

.icon {
    padding: 0.1em 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon:hover{
    transform: scale(1.1);
}


@media screen and (max-width:1360px) {
    .skills {
        padding: 2em 10em;
    }

    .skills h2{
        font-size: 1.8em;
    }
}

@media screen and (max-width:1180px) {
    .icons{
        font-size: 6em;
    }
}

@media screen and (max-width: 860px) {
    .skills h2{
        text-align: center;
        font-size: 1.2em;
    }

    .icons{
        font-size: 5em;
    }
}

@media screen and (max-width: 580px) {
    .skills h2{
        text-align: center;
        font-size: 1.6em;
    }

    .icons{
        font-size: 2.5em;
    }
}
